<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <title>白熊爱玩-圣诞</title>
</head>

<body>
    <div class="tag">
        <!-- 头图 -->
        <div class="banner">
            <img class="bimg" src="/img/bg.jpg">
            <div class="closebox"></div>
            <!-- <div class="title">白熊爱玩</div> -->
        </div>
        <!-- 模块 -->
        <div class="lists">
            <div class="list shengdan" onclick="openUrl('/video',1,'宜 - 吃苹果')">
                <div class="title">宜.吃苹果</div>
                <div class="detail">
                    <div class="date">12-24</div>
                    <div class="des">Merry Christmas</div>
                </div>
                <div class="child-tags">
                    <div class="sd-child-tag">
                        <div class="one">
                            <img src="/img/shengdan.png">
                        </div>
                        <div class="two">
                            <div class="sd">
                                <div class="left">
                                    <img src="/img/icon1.png" alt="">
                                </div>
                                <div class="right">
                                    <div class="r1">圣诞树贺卡趣玩</div>
                                    <div class="r2">用巧手做圣诞卡不要在意文案</div>
                                </div>
                            </div>
                            <div class="sd">
                                <div class="left">
                                    <img src="/img/icon2.png" alt="">
                                </div>
                                <div class="right">
                                    <div class="r1">小礼物包装</div>
                                    <div class="r2">用巧手做圣诞卡不要在意文案</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thing snow1">
                    <img src="/img/snow1.png" alt="">
                </div>
                <div class="thing snow2">
                    <img src="/img/snow2.png" alt="">
                </div>
                <div class="thing bell">
                    <img src="/img/bell.png" alt="">
                </div>
                <div class="thing gold">
                    <img src="/img/gold.png" alt="">
                </div>
                <div class="thing color">
                    <div class="up">
                        <img src="/img/up.png" alt="">
                    </div>
                    <div class="right">
                        <img src="/img/right.png" alt="">
                    </div>
                    <div class="down">
                        <img src="/img/down.png" alt="">
                    </div>
                    <div class="left">
                        <img src="/img/left.png" alt="">
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="title">宜.立Flag</div>
                <div class="detail">
                    <div class="date">11-11</div>
                    <div class="des">优雅的立Flag</div>
                </div>
                <div class="child-tags">
                    <div class="child-tag">
                        <div class="one">
                            <img src="/img/1.gif">
                        </div>
                        <div class="two">
                            <div class="stick"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="title">宜.减肥</div>
                <div class="detail">
                    <div class="date">11-12</div>
                    <div class="des">吃你家馒头啦？</div>
                </div>
                <div class="child-tags">
                    <div class="child-tag">
                        <div class="one">
                            <img src="/img/2.gif">
                        </div>
                        <div class="two">
                            <div class="stick"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="title">宜.买买买</div>
                <div class="detail">
                    <div class="date">11-13</div>
                    <div class="des">购物才是正经事</div>
                </div>
                <div class="child-tags">
                    <div class="child-tag">
                        <div class="one">
                            <img src="/img/3.gif">
                        </div>
                        <div class="two">
                            <div class="stick"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="title">宜.表白</div>
                <div class="detail">
                    <div class="date">11-14</div>
                    <div class="des">再不主动聊，男神跟人跑</div>
                </div>
                <div class="child-tags">
                    <div class="child-tag">
                        <div class="one">
                            <img src="/img/4.gif">
                        </div>
                        <div class="two">
                            <div class="stick"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="title">宜.秀恩爱</div>
                <div class="detail">
                    <div class="date">11-15</div>
                    <div class="des">爱就在一起，爱就爱到底</div>
                </div>
                <div class="child-tags">
                    <div class="child-tag">
                        <div class="one">
                            <img src="/img/5.gif">
                        </div>
                        <div class="two">
                            <div class="stick"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="title">水逆退散</div>
                <div class="detail">
                    <div class="date">11-15</div>
                    <div class="des">物换星移，归零重来</div>
                </div>
                <div class="child-tags">
                    <div class="child-tag">
                        <div class="one">
                            <img src="/img/6.jpg">
                        </div>
                        <div class="two">
                            <div class="stick"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/video/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>