<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/video.css">
    <title>白熊爱玩-圣诞视频</title>
    <style>
        .backmain {
            display: none;
        }
    </style>
</head>

<body>
    <!-- 返回上一页 -->
    <div class="backmain" onclick="window.location.href='/'">
        <img src="/video/img/back.png" alt="">
    </div>

    <!-- 雪花 -->
    <div id="leafContainer"></div>

    <div class="playvideo">
        <div class="close">
            <img src="/video/img/close.png" alt="">
        </div>
        <div id="chimee-container">
            <video width="100%" height="100%" controls id="bear-video" src=""></video>
            <div class="infos">
                <div class="title"></div>
                <div class="info"></div>
            </div>
        </div>
    </div>

    <div class="bearvideos">
        <div class="top">
            <div class="bg">
                <img src="/video/img/bg.png" alt="">
                <div class="hand">
                    <img src="/video/img/hand.png" alt="">
                </div>
            </div>
        </div>
        <div class="bearinfo">
            <img src="/video/img/info.png" alt="">
        </div>
        <div class="videos">
            <div class="video">
                <div class="left">
                    <img class="pic" src="/video/video/圣诞礼物巧包装.png" alt="">
                </div>
                <div class="right">
                    <div class="title">圣诞礼物巧包装</div>
                    <div class="info">Season's greetings</div>
                    <div class="view">
                        <span>view now</span>
                        <img class="play" src="/video/img/play.png" alt="">
                    </div>
                </div>
                <div class="thing snow1">
                    <img src="/video/img/snow1.png" alt="">
                </div>
                <div class="thing snow2">
                    <img src="/video/img/snow2.png" alt="">
                </div>
            </div>
            <div class="video">
                <div class="left">
                    <img class="pic" src="/video/video/圣诞书签.png" alt="">
                </div>
                <div class="right">
                    <div class="title">可爱圣诞树书签</div>
                    <div class="info">Wishing you a Christmas of happy time</div>
                    <div class="view">
                        <span>view now</span>
                        <img class="play" src="/video/img/play.png" alt="">
                    </div>
                </div>
                <div class="thing snow1">
                    <img src="/video/img/snow1.png" alt="">
                </div>
                <div class="thing snow2">
                    <img src="/video/img/snow2.png" alt="">
                </div>
            </div>
            <div class="video">
                <div class="left">
                    <img class="pic" src="/video/video/圣诞贺卡.png" alt="">
                </div>
                <div class="right">
                    <div class="title">立体圣诞树小卡片</div>
                    <div class="info">MERRY CHRISTMAS</div>
                    <div class="view">
                        <span>view now</span>
                        <img class="play" src="/video/img/play.png" alt="">
                    </div>
                </div>
                <div class="thing snow1">
                    <img src="/video/img/snow1.png" alt="">
                </div>
                <div class="thing snow2">
                    <img src="/video/img/snow2.png" alt="">
                </div>
            </div>
            <div class="video">
                <div class="left">
                    <img class="pic" src="/video/video/圣诞雪花挂饰.png" alt="">
                </div>
                <div class="right">
                    <div class="title">圣诞装饰</div>
                    <div class="info">a merry yuletide</div>
                    <div class="view">
                        <span>view now</span>
                        <img class="play" src="/video/img/play.png" alt="">
                    </div>
                </div>
                <div class="thing snow1">
                    <img src="/video/img/snow1.png" alt="">
                </div>
                <div class="thing snow2">
                    <img src="/video/img/snow2.png" alt="">
                </div>
            </div>
            <div class="video">
                <div class="left">
                    <img class="pic" src="/video/video/圣诞惊喜刮刮.png" alt="">
                </div>
                <div class="right">
                    <div class="title">圣诞刮刮乐</div>
                    <div class="info">Hope all your Christmas dreams come true</div>
                    <div class="view">
                        <span>view now</span>
                        <img class="play" src="/video/img/play.png" alt="">
                    </div>
                </div>
                <div class="thing snow1">
                    <img src="/video/img/snow1.png" alt="">
                </div>
                <div class="thing snow2">
                    <img src="/video/img/snow2.png" alt="">
                </div>
            </div>
            <div class="video">
                <div class="left">
                    <img class="pic" src="/video/video/圣诞花环.png" alt="">
                </div>
                <div class="right">
                    <div class="title">不一样的圣诞花环</div>
                    <div class="info">Hope all your Christmas dreams come true</div>
                    <div class="view">
                        <span>view now</span>
                        <img class="play" src="/video/img/play.png" alt="">
                    </div>
                </div>
                <div class="thing snow1">
                    <img src="/video/img/snow1.png" alt="">
                </div>
                <div class="thing snow2">
                    <img src="/video/img/snow2.png" alt="">
                </div>
            </div>
            <div class="video">
                <div class="left">
                    <img class="pic" src="/video/video/圣诞树.png" alt="">
                </div>
                <div class="right">
                    <div class="title">桌面圣诞树</div>
                    <div class="info">happy holidays</div>
                    <div class="view">
                        <span>view now</span>
                        <img class="play" src="/video/img/play.png" alt="">
                    </div>
                </div>
                <div class="thing snow1">
                    <img src="/video/img/snow1.png" alt="">
                </div>
                <div class="thing snow2">
                    <img src="/video/img/snow2.png" alt="">
                </div>
            </div>
            <div class="shop">
                <!-- <img onclick="openUrl('https://h5.m.taobao.com/awp/core/detail.htm?id=581221952213', 1, '商城');" src="/video/img/shop.png"> -->
                <img onclick="openUrl('http://vip100.ltd/P908Qjw', 1, '商城');" src="/yuandan/img/shop.png">
            </div>
        </div>
    </div>
    <script src="/video/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/video/js/main.js"></script>
    <script>
        var wechat = navigator.userAgent;
        var type = wechat.indexOf('MicroMessenger') == -1 ? "APP" : "微信";
        if (type == "APP") {
            $(".backmain").css("display", "block");
            // $(".backmain").remove();
        }
        openUrl('', 0, type + '进入 - 圣诞视频');
    </script>
</body>

</html>